.uploadBG {
    background-color: rgb(50, 63, 50);
    padding: 2% 5% 2% 5%;
    margin: 2vh 10vw;
    border: rgb(24, 24, 24) 10px solid;
    border-radius: 10px;
}

.uploadText {
    margin-top: 2%;
    margin-bottom: 2%;
    color: white;
    font-family: "pusab";
    src: url("assets/PUSAB.TTF");
    font-size: 3vw;
    text-shadow: 2px 2px black,
    -2px -2px black,
    -2px 2px black,
     2px -2px black;
    line-height: 3vw;
}

.uploadTitle {
    font-size: 7vw;
    margin: 5px 0px 5px 0px;
}

input {
    margin: inherit;
    background-color: rgb(36, 36, 36);
    border:rgb(24, 24, 24) 5px solid;
    border-radius: 5%;
    padding: 3px 5px;
    color: white;
    transform: translateY(-20%);
    width: 15vw;
}

#jsonBox {
    background-color: rgb(36, 36, 36);
    border:rgb(24, 24, 24) 5px solid;
    border-radius: 5%;
    width: 90%;
    height: 100vh;
    border-radius: 2%;
    padding: 1% 2%;
    margin: auto;
    color: white;
    font-family: monospace;
}

.jsonHelp {
    width: 40%;
    height: 40%;
}

.errorBox {
    padding: 1% 0.5%;
    border-radius: 5px;
    font-size: 200%;
}

#listPreview {
    background-color: rgb(36, 36, 36);
    color: white;
    padding: 1% 2% 1% 2%;
    margin: 7%;
    border: white 7px solid;
    border-radius: 5px;
    cursor: pointer;
    float: none;
    display: block;
    size: 80%;
}

#listPreview:hover {
    background-color: tomato;
}