@keyframes inputError {
    from {
        background-color: rgba(243, 70, 70, 0.5);
    }

    to {
        background-color: rgba(36, 36, 36, 0.5);
    }
}

.helpButton {
    /*position: absolute;*/
    width: 2vw;
    height: 2vw;
    /*right: 23%;*/
}

#helpTitle {
    font-size: 2.5vw;
    margin: 1vw;
    text-align: center
}

.hueChanger {
    box-shadow: rgba(255, 255, 255, 0.35) 0px 0px 0vw 0.2vw;
}

.setTitle {
    margin-bottom: 0;
    text-align: center;
}

.helpBG {
    background-color: #000000a1;
    /* margin: 100%; */
    position: fixed;
    top: 0px;
    z-index: 4;
    width: 100%;
    height: 100%;
    background-image: url("../images/thinkAn.gif");
}

.popupHelp {
    background-color: rgb(50, 63, 50);
    border: rgb(24, 24, 24) 0.7vw solid;
    border-radius: 10px;
    position: fixed;
    margin: auto;
    z-index: 5;
    width: 80%;
    left: 10%;
    padding: 0.8%;
    top: 2%;
    max-height: 50vh;
    overflow-y: auto;
}

.uploadBG {
    background: var(--greenGradient);
    margin: 0 10vw 2vw;
    border: none;
    border-radius: 10px;
    box-shadow: black 5px 5px 41px
}

.uploadMainInp {
    font-size: var(--normalFont) !important;
    padding: 0 1vw !important;
}

.uploadText {
    color: white;
    font-family: "pusab";
    font-size: var(--normalFont);
    line-height: 150%;
    text-shadow: rgba(0, 0, 0, 0.5) 0.1vw 0.1vw 0.2vw;
}

.errNotif {
    z-index: 2;
    transform: translate(30vw, 20vh);
    width: 40vw;
    position: absolute;
    pointer-events: none;
    display: none;
}

.errNotText {
    z-index: 3;
    position: relative;
    top: 4vw;
    left: 2vw;
    width: 36vw;
}

#collabTools {
    position: fixed;
    width: 95%;
    height: 90vh;
    right: -8%;
    bottom: 0%;
    z-index: 4;
    display: flex;
    padding: 0;
    flex-direction: column;
    transform: scaleY(0.7);
    transition-duration: 0.1s;
}

.collabBar {
    display: flex;
    justify-content: space-between !important;
    flex-direction: row !important;
    align-items: center !important;
    overflow-y: hidden !important;
    min-height: 8%;
}

.collabTables {
    border: none;
    text-align: center;
    width: 100%;
    background: url("../images/fade.webp") repeat-x;
}

.collabRoles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 100%;
    align-content: flex-start;
}

.roleBubble {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 3vw;
    padding: 0.1vw 1vw;
    border-radius: 0.5vw;
    margin: 1%;
    width: 25vw;
}
.roleControls { display: flex; }
.roleControls > img { width: 2.5vw; height: 2.5vw; }

.roleButtons {
    display: flex;
    max-height: 2.5vw;
}

#roleInp {
    border: none !important;
    background: none !important;
    transform: none !important;
    width: 20vw !important;
    margin: 0.5% !important;
    outline: none;
}

td>* {
    vertical-align: middle;
}

.collabTables th img:nth-child(1) {
    width: 2vw;
    vertical-align: middle;
}

.collabTables th div {
    margin: 0vw 0 0 0.5vw;
}

.collabTables th {
    background: rgba(0, 0, 0, 0.1) !important;
    font-size: var(--bigFont);
}

tr:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.2);
}

tr>td:nth-child(2n) {
    background: rgba(0, 0, 0, 0.2);
}

#collabInp::placeholder {
    font-size: var(--smallFont);
}

#collabInp {
    display: inline;
    transform: none;
    width: 15vw;
    margin: 0.5%;
    font-size: var(--smallFont);
    background-color: #FFFFFF50;
    border-color: #FFFFFF50;
    -moz-appearance: textfield;
    max-height: 0%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.roleHead,
.humHead {
    display: block;
}

.mobileTabSwitcher {
    display: flex;
    justify-content: space-evenly;
    background: #00000047;
    margin: 1%;
    border-radius: 5px;
}

.mobileTabSwitcher>button {
    font-size: var(--biggerFont);
    background: #ffffff91;
    margin: 1%;
    min-width: 7em;
    border-radius: 25px;
}

.collabHeader {
    max-height: auto;
    overflow-y: auto;
}

.roleList {
    border: none;
    border-radius: 0.5vw;
    padding: 1%;
    margin: 0;
    font-size: var(--smallFont);
}

/*Would it be better to get rid of this lmao?*/
input:not(.gdSlider, .cardButton, .cardInput, .searchBar, .setCheckbox, .tableCpicker, .homeSearch) {
    margin-left: auto;
    margin-right: auto;
    padding: 3px 5px;
    color: white;
    font-family: "pusab";
    font-size: var(--normalFont);
    display: flex;
    justify-content: center;
    width: 20em;
    background-color: rgba(255, 255, 255, 0.08);
    border: none;
    border-radius: 25px;
}


.inputErr {
    animation-name: inputError;
    animation-duration: 0.5s;
}

#imageArrow {
    display: flex;
    width: 4%;
    height: 4%;
    align-self: center;
    transform: scaleY(1);
    transition-duration: 0s;
}

.imgPreview {
    padding: 2%;
    width: 40vw;
    display: none;
    margin: 2% 22.5% 3%;
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 20px;
}


#tImgMargin {
    margin-left: 2%;
    margin-right: 1%;
}

#bgcolorPicker {
    display: flex;
    width: 4vh;
    height: 4vh;
    margin-left: 2%;
    margin-right: 0;
    border: 0.5vh white solid;
    background: none;
    border-radius: 0.5vw;
    padding: 0;
    background: #020202;
}

.pickerContainer>* {
    position: absolute;
}

.pickerContainer > img {
    width: 3.5vh;
}

.pickerContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 2vw;
}

.colorLabel {
    display: flex;
    pointer-events: none;
}

#fillButton {
    width: 2.8vw;
}

#popupBG {
    z-index: 3;
    background: #00000087;
    display: none;
    transition: opacity 0.1s linear;
}

#shareTools {
    position: fixed;
    display: none;
    width: 45%;
    top: 11vw;
    left: 15vw;
    z-index: 4;
    padding: 0 0vw 3vw 2vw;
}

#shareContainer {
    font-size: var(--normalFont);
    margin: 0 2vw 2vw 0vw;
    border: none;
    opacity: 1 !important;
    padding: 1vw;
    width: 80% !important;
}

#jumpToTools {
    width: 50vw;
    height: calc(37vh + 18vw);
    z-index: 4;
    position: fixed;
    padding-left: 3vw;
    left: 11vw;
    top: 1vw;
}

.jumpToContainer {
    display: flex;
    flex-direction: row;
    height: 89%;
    background: #00000042;
    margin-right: 3vw;
    border-radius: 2vw;
    overflow-y: auto;
    overflow-x: hidden;
}

#jumpBubble {
    background: #ff6161;
    width: 90%;
    margin-left: 2.5%;
    justify-content: flex-start;
    font-size: var(--normalFont);
    padding: 1%;
}


.cardInput {
    margin: 15px 30%;
    background-color: rgb(36, 36, 36);
    border: rgb(36, 36, 36) 5px solid;
    border-radius: 5%;
    padding: 3px 5px;
    color: white;
    transform: translateY(-20%);
    width: 25vw;
    font-family: "pusab";
    font-size: var(--bigFont);
    max-height: var(--biggerFont);
}

.cardButtonsContainer {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    align-items: center;
}

.cardExtrasContainer {
    display: none;
    padding: 1%;
    width: 100%;
    margin: 1% 0%;
    border-radius: 0.3vw;
}

#slider {
    width: 102%;
    margin-top: -2.8vw;
    height: 5vw;
    margin-bottom: -1vw;
    background: transparent;
    border: none;
    margin-left: -1vw;
}

#sliderImg {
    width: 100%;
    height: 2vw;
    border-radius: 0.5vw;
    pointer-events: none;
}

input[type=range] {
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    max-width: 98%;
    height: 0px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 8px;
    background: white;
    margin: -2vh 0;
    transform: translateX(1vw);
}

#slider::-moz-range-thumb {
    -moz-appearance: none;
    background: url("../images/picker.svg");
    border: none;
    border-radius: 0.4vw;
    background-size: cover;
}


input::-webkit-input-placeholder {
    opacity: 0.5;
    color: white;
    font-family: "pusab";
    font-size: var(--smallFont);
}

input::-moz-placeholder {
    color: white;
    font-family: "pusab";
    font-size: var(--smallFont);
}

input:disabled {
    opacity: 0.5;
}

.listColPicker {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.3vw;
    flex-direction: column;
}

.bgcolorContainer {
    width: 90%;
    background: rgba(255, 255, 255, 0.08);
    padding: 1vw;
    box-sizing: border-box;
    border-radius: 10px;
}

#submitarea {
    display: flex;
    justify-content: center;
    align-items: center;
}

#submitbutton {
    width: auto;
    padding: 0.5% 1%;
    height: auto;
    background-color: rgb(113, 212, 113);
    border: none;
    margin: 0% 2% 1%;
}

#removebutton {
    width: auto;
    padding: 0.5% 1%;
    height: auto;
    background-color: rgb(212, 113, 113);
    color: rgb(255, 0, 0);
    border: none;
    margin: 0% 2% 1%;
}

#jsonBox {
    background-color: rgb(36, 36, 36);
    border: rgb(36, 36, 36) 5px solid;
    border-radius: 5%;
    width: 90%;
    height: 100vh;
    border-radius: 2%;
    padding: 1% 2%;
    margin: auto;
    color: white;
    font-family: monospace;
}

.jsonHelp {
    width: 40%;
    height: 40%;
}

#listPreview {
    background-color: rgb(36, 36, 36);
    color: white;
    padding: 0% 2% 0% 2%;
    margin: 1.5% 7%;
    border: white 0.3vw solid;
    border-radius: 5px;
    display: block;
    background-size: 150vw;
    background-position-x: right;
    transition: background-position-x 0.5s;
}

#listPreview:hover {
    background-position-x: left;
    cursor: pointer;
}

.hostIcon {
    width: 4vw;
}

.editorHeader {
    margin: 0%;
    padding: 0 1%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: url("../images/headerBG.webp");
}

#plusSign {
    margin-left: 2%;
    margin-right: 2%;
}

.headerButtons {
    width: 4vw;
    height: 4vw;
    margin-right: 1vw;
}

.headerText {
    display: inherit;
    align-items: center;
    margin-right: auto;
    margin-left: 2%;
}

.helpText {
    display: flex;
    align-items: center;
}

#mainContent,
.collabBG {
    text-align: left;
    background-image: url("../images/fade.webp");
    background-repeat: repeat-x;
    height: 100%;
}

.smallHelp {
    width: 1.7vw;
    height: auto;
    vertical-align: top;
}


.positionEdit,
.smallPosEdit {
    margin: 1%;
    background-color: darksalmon;
    border: salmon 5px solid;
    border-radius: 8px;
    white-space: nowrap;
    box-shadow: #0000004f 8px 8px 5px;
    padding: 0.5%;
}

.smallPosEdit {
    padding: 0 !important;
    margin: 0.8% !important;
}

.positionEdit {
    transform: scaleY(1);
    transition-duration: 0.1s;
}

#posInputBox {
    margin: 0;
    background-color: rgba(36, 36, 36, 0.5);
    border: none;
    transform: translate(0);
    transition: background-color 50ms;
    padding: 0.2vw 0 0.2vw 0.7vw;
}

.lineSplitGeneral {
    height: 4px;
    background-color: salmon;
    border: none;
    margin: 1% 3%;
}

.availFill {
    background: white;
    height: 7%;
    width: 3%;
    margin: 1%;
    border: none;
    border-radius: 10%;
    transition: opacity 0.1s linear;
    box-shadow: black 0px 0px 4px;
}

.nameDetailGetter {
    margin-right: 5%;
}

#moveLPosButton {
    width: 4vw;
}

#posInputPics {
    width: 3.5vw;
    height: 3.5vw;
    margin-right: 1vw;
}

.positionButtons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#positionDisplay {
    width: 13%;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    margin: 0.5%;
    transform: translate(0);
    font-size: var(--normalFont) !important;
}

.cardButton {
    padding-left: 1%;
    padding-right: 0.5%;
    width: 4vw;
    height: 4vw;
}

#positionDisplay {
    font-size: var(--xlFont);
    height: 2.8vw;
}

.diffContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.diffIcon {
    width: 50%;
    height: auto;
    position: absolute;
}

.diffFace {
    width: 3vw;
    padding: 0.5vw 0.5vw;
    height: fit-content;
}

.difficultyPicker {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow-x: auto;
    overflow-y: clip;
}

.diffFaces {
    width: 78%;
    display: flex;
    gap: 0.5vw;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
}

.faceSelected {
    background: #0000006e;
    border-radius: 1vw;
}

.diffOptions {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.336);
    border-radius: 1vw;
    padding: 0 1vw;
}

.bgPick {
    background-color: rgba(255, 255, 255, 0.548);
    border-radius: 1vw;
}

.bgSettingsContainer {
    display: flex;
    justify-content: center;
    gap: 1vw;
}

.bgProps {
    position: absolute;
    z-index: 5;
    left: 25%;
    display: none;
}

.bgPropsMain {
    padding: 0 1vw 1vw 1vw;
}

.gdSlider::-moz-range-progress {
    background: url("../images/sliderBar-uhd.webp");
    height: 0.4em;
    border-radius: 1vw;
    transform: translate(0.2vw);
}

.gdSlider::-moz-range-thumb {
    background: url("../images/sliderthumb-uhd.webp");
    background-size: 1em;
    transform: scale(2);
    border: none;
}

.gdSlider::-moz-range-track {
    background: url("../images/slidergroove-uhd.webp");
    background-repeat: no-repeat;
    height: 0.8em;
    background-size: cover;
    background-position-y: center;
}

.gdSlider {
    width: 20vw;
    border: none;
    background: none;
    font-size: var(--bigFont);
}

#inpEpic:checked,
#inpFeatured:checked,
#inpGrad:checked {
    -moz-appearance: none;
    appearance: none;
    background: url("../images/check-on.webp");
    background-size: contain;
    background-repeat: no-repeat;
    padding: 1vw;
    background-position: center;
    vertical-align: middle;
}

#inpEpic,
#inpFeatured,
#inpGrad {
    -moz-appearance: none;
    appearance: none;
    background: url("../images/check-off.webp");
    background-size: contain;
    background-repeat: no-repeat;
    padding: 1vw;
    background-position: center;
    vertical-align: middle;
}

#epicGlow {
    z-index: 1;
    width: 70%;
    bottom: 12%;
    right: 12%;
}

#featuredGlow {
    z-index: 1;
    width: 70%;
}

#diffBG {
    width:inherit;
    z-index: 0;
}
.diffMain {
    z-index: 2;
}

.settingSubbox {
    display: flex;
    gap: 0.5vw;
    background: #0000004d;
    padding: 0.5vw;
    border-radius: 10px;
    margin-left: 3vw;
    width: max-content;
    align-items: center;
}

/* I am in excrutiating pain from this CSS :/*/
.diffSelBut {
	width: 3.5vw;
	background: #0000004d;
	border: none;
	padding: 0.4vw;
	border-radius: 15px;
}

.diffSelBut img {
    width: 100%;
}

.listDiffContainer {
    position: relative;
    width: calc(20px + 3vw);
    height: calc(20px + 3vw);
    display: flex;
    justify-content: center;
    align-items: center;
}

.listDiffFace {
    width: 100%;
    height: auto;
    position: absolute;
    z-index: 2;
}

.listDiffEpicRate {
    position: absolute;
    width: 150%;
    bottom: -17%;
}
.listDiffRate {
    position: absolute;
    width: 140%;
    bottom: -20%;
}

.listDiffStar {
    position: relative;
    z-index: 2;
    width: 60%;
    left: 1.3vw;
    top: 0.8vw;
}

.rateContainer {
    display: flex;
    gap: 6vh;
    transform: scale(0.8);
    align-items: center;
}

.cpicker {
    width: inherit;
    height: inherit;
    position: relative;
    opacity: 0%;
    transform: translateX(-100%);

}

.shareBG {
    background-color: #1e1e1e;
    padding: 1%;
    border-radius: 10px;
    display: flex;
    margin: 0 1% 0 0;
}

.shareTitle {
    margin-left: 3%;
    color: #1fb1e1;
    margin: 0 0 0 3%;
}

.shareContainer {
    display: flex;
    align-items: center;
    margin: 0% 0% 1% 3%;
}

.shareBut {
    width: 3vw;
    height: 3vw;
}

.passText {
    position: absolute;
    left: 61.5vw;
    top: 48vw;
}

.killList {
    transition-duration: 4s;
    transform: scaleY(0.0) scaleX(2);
    filter: invert(100%);
    transition-timing-function: ease-out;
}

.boom {
    background-color: white;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    opacity: 0;
    display: none;
    z-index: 4;
}

.removeImg {
    transition-duration: 0.5s;
    margin-left: 41vw;
}

#rmbutton {
    margin-left: 2.5%;
    margin-right: 2.5%;
    font-size: var(--biggerFont);
}

.settingsBG {
    background-color: rgba(255, 255, 255, 0.08);
    margin: 0% 21% 3%;
    padding: 1%;
    border-radius: inherit;
    display: flex;
    flex-direction: column;
}

.setting {
    display: flex;
    align-items: center;
    margin-top: 1%;
}

.setLabel {
    margin: 0%;
}

.setHelp {
    width: 2vw;
    margin-left: 2%;
    margin-bottom: 4%;
}

.setCheckbox {
    width: 6%;
    margin-right: 1%;
}

.debugTools {
    justify-content: center !important;
    background-image: url('../images/debug.webp') !important;
    max-width: 45vw !important;
    margin: auto !important;
    margin: auto !important;
    margin-top: 1.5% !important;
    display: none;
}

.searchTools {
    background-image: var(--greenGradient);
    border-radius: 1vw;
    margin: 1% 2%;
    padding: 0.5%;
    display: flex;
    align-items: center;
    transition: opacity 0.2s ease-in-out;
    background-repeat: repeat;
    background-position-y: center;
    /*flex-wrap: wrap;*/
}

.noRoles,
.noRolAdded,
.addRoles {
    margin-left: 1%;
    color: rgb(173, 230, 185);
}

.noRolAdded,
.addRoles>img {
    transform: translateY(0.6vw);
}

.tableCpicker {
    border: none;
    background: none;
    width: 25%;
    height: 3vw;
}

.collabHButtons {
    display: flex;
    justify-content: right;
}

.presetButtonContainer {
    padding: 0.2% 2%;
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

.socialPickerIcon {
    display: inline;
    width: 4vw;
}

.popupArrow {
    position: absolute;
    top: -1vw;
}

.socialPicker {
    position: absolute;
    background: #1e1e1e;
    padding: 1%;
    z-index: 2;
    border-radius: 10px;
    top: 34.8vw;
    left: 28.5vw;
    display: none;
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search {
    display: flex;
    justify-content: end;
    align-items: center;
    flex-grow: 1;
}

.pageIndicator {
    text-align: center;
    width: 7% !important;
    margin: 0 !important;
}

.pageBut {
    width: 5%;
    height: 5%;
    align-self: center;
    margin: 1%;
}

#searchBar {
    width: 80%;
}