
.helpButton {
    /*position: absolute;*/
    width: 3vw;
    height: 3vw;
    /*right: 23%;*/
}
.helpBG {
	background-color: #000000a1;
	/* margin: 100%; */
	position: fixed;
	top: 0px;
	z-index: 2;
	width: 100%;
	height: 100%;
    background-image: url("../images/thinkAn.gif");
}
.popupHelp {
    background-color: rgb(50, 63, 50);
    border: rgb(24, 24, 24) 10px solid;
    border-radius: 10px;
    position: fixed;
    margin: auto;
    z-index: 3;
    width: 80%;
    left: 10%;
    padding: 2%;
    top: 2%;    
}


.uploadBG {
    background-color: rgb(50, 63, 50);
    padding: 2% 0% 2% 0%;
    margin: 2vh 10vw;
    border: rgb(24, 24, 24) 10px solid;
    border-radius: 10px;
}

.uploadText {
    margin-top: 2%;
    margin-bottom: 2%;
    color: white;
    font-family: "pusab";
    src: url("assets/PUSAB.TTF");
    font-size: 3vw;
    -webkit-text-stroke: black 0.17vw;
    line-height: 84%;
}

.uploadTitle {
    font-size: 7vw;
    margin: auto;
    padding: 5px 0px 5px 0px;
    float: none;
    display: block;
    text-shadow: 0.17vw 0.17vw rgb(61, 131, 79),
    -0.17vw -0.17vw rgb(61, 131, 79),
    -0.17vw 0.17vw rgb(61, 131, 79),
     0.17vw -0.17vw rgb(61, 131, 79);

}

input:not(.cardButton, .cardInput, .pageIndicator, .searchBar, .setCheckbox) {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 0.5%;
    background-color: rgb(36, 36, 36);
    border:rgb(36, 36, 36) 5px solid;
    border-radius: 5%;
    padding: 3px 5px;
    color: white;
    transform: translateY(-20%);
    width: 15em;
    height: 5vh;

    font-family: "pusab";
    font-size: 3vw;
    -webkit-text-stroke: black 0.17vw;
    display: flex;
    justify-content: center;
}

#imageArrow {
    display: flex;
    width: 5%;
    height: 5%;
    align-self: center;
    transform: scaleY(1);
    transition-duration: 0s;
}
.imgPreview {
    background-color: rgb(24, 24, 24);
    margin: 0% 22.5% 3%;
    padding: 2%;
    border-radius: inherit;
    width: 40vw;
    display: none;
}


#tImgMargin {
    margin-left: 2%;
    margin-right: 1%;
}

#bgcolorPicker {
    display: flex;
    border: none;
    width: 10vw;
    padding: 0.4%;
    height: 7vh;
    margin-left: 2%;
    margin-right: 0;
}

.colorLabel {
    display: flex;
    pointer-events: none;
}

.cardInput {
    margin: 15px 30%;
    background-color: rgb(36, 36, 36);
    border:rgb(36, 36, 36) 5px solid;
    border-radius: 5%;
    padding: 3px 5px;
    color: white;
    transform: translateY(-20%);
    width: 25vw;
    height: 5vh;

    font-family: "pusab";
    src: url("assets/PUSAB.TTF");
    font-size: 3vw;
    -webkit-text-stroke: black 0.17vw;
}

input::-webkit-input-placeholder {
    opacity: 0.5;
    color: white;
    font-family: "pusab";
    font-size: 3vw;
    -webkit-text-stroke: black 0.17vw;
}
input::-moz-placeholder {
    color: white;
    font-family: "pusab";
    font-size: 3vw;
    -webkit-text-stroke: black 0.17vw;
}

input:disabled {
    opacity: 0.5;
}

#submitarea {
    display: flex;
    justify-content: center;
}
#submitbutton {
	width: auto;
	padding: 2% 2% 4% 2%;
    background-color: rgb(113, 212, 113);
    border: none;
    margin-left: 2%;
    margin-right: 2%;
}
#removebutton {
    width: auto;
	padding: 2% 2% 4% 2%;
    background-color: rgb(212, 113, 113);
    color: rgb(255, 0, 0);
    border: none;
    margin-left: 2%;
    margin-right: 2%;
}

#jsonBox {
    background-color: rgb(36, 36, 36);
    border:rgb(36, 36, 36) 5px solid;
    border-radius: 5%;
    width: 90%;
    height: 100vh;
    border-radius: 2%;
    padding: 1% 2%;
    margin: auto;
    color: white;
    font-family: monospace;
}

.jsonHelp {
    width: 40%;
    height: 40%;
}

.errorBox {
    padding: 1% 0.5%;
    border-radius: 5px;
    font-size: 200%;
}

#listPreview {
    background-color: rgb(36, 36, 36);
    color: white;
    padding: 1% 2% 1% 2%;
    margin: 2% 7%;
    border: white 7px solid;
    border-radius: 5px;
    cursor: pointer;
    float: none;
    display: block;
}

#listPreview:visited {
    background-color: rgb(64, 153, 56);
}

#listPreview:hover {
    background-color: tomato;
}

.editorHeader {
    background-color: rgb(89, 185, 89);
    margin: 0%;
    padding: 1vw 1%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: url("../images/headerBG.png");
}

#plusSign {
    margin-left: 2%;
    margin-right: 2%;
}

.headerButtons {
    width: 7vw;
    height: 7vw;
    padding-right: 8vw;
}
.headerButtonsImgs {
    width: inherit;
    height: inherit;
}

.headerText {
    display: inherit;
    align-items: center;
    margin-right: auto;
    margin-left: 2%;
}

.helpText {
    display: inherit;
    text-align: center;
}

#mainContent {
    background-color: rgb(44, 99, 44);
    text-align: left;
    background-image: url("../images/fade.png");
    background-repeat: repeat-x;
}


.positionEdit, .smallPosEdit {
    margin: 1%;
    background-color: darksalmon;
    border: salmon 5px solid;
    border-radius: 8px;
    white-space: nowrap;
    box-shadow: #0000004f 8px 8px 5px;
  }

.positionEdit {
    transform: scaleY(1);
    transition-duration: 0.1s;
}

#posInputBox {
    margin: 2%;
    background-color: rgba(36, 36, 36, 0.5);
    border: none;
}

.lineSplitGeneral {
    height: 4px;
    background-color: salmon;
    border: none;
    margin: 1% 3%;
}

.nameDetailGetter {
    margin-right: 5%;
}

#moveLPosButton {
    width: 80%;
}

#posInputPics {
    width: 5vw;
    height: 5vw;
}

.positionButtons {
    display: flex;
    justify-content: end;
}

#positionDisplay {
    width: 13%;
    margin: 0.5%;
    margin-top: 6%;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

.cardButton {
	padding-left: 2%;
	padding-right: 11%;
	width: 7vw;
	height: 7vw;
}

.cpicker {
    width: inherit;
    height: inherit;
    position: relative;
    opacity: 0%;
    transform: translateX(-100%);

}

.shareBG {
	background-color: #1e1e1e;
	padding: 1%;
	margin: 3%;
	border-radius: 10px;
	font-size: 2vw;
	margin-top: 0px;
	margin-right: 9%;
	display: inline;
	padding-right: 20%;
}

.shareTitle {
	margin-left: 3%;
	color: #1fb1e1;
    margin-bottom: 0;
}

.shareBut {
	width: 7%;
	bottom: 1vw;
	position: relative;
	left: -13%;
}

.passText {
    margin-top: -4%;
    margin-bottom: 0;
    margin-left: 1%;
}

.killList {
    transition-duration: 4s;
    transform: scaleY(0.0) scaleX(2);
    filter: invert(100%);
    transition-timing-function: ease-out;
}
.boom {
    background-color: white ;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    opacity: 0;
    display: none;
}
.removeImg {
    transition-duration: 0.5s;
    margin-left: 13em;
}
#rmbutton {
    width: 15%;
    height: 15%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}
.settingsBG {
    background-color: rgb(36, 36, 36);
    margin: 0% 25% 3%;
    padding: 2%;
    border-radius: inherit;
    display: flex;
    flex-direction: column;
}
.setting {
    display: flex;
    align-items: center;
}
.setLabel {
    margin: 0%;
    margin-top: 1%;
}
.setHelp {
    width: 2vw;
    margin-left: 2%;
    margin-bottom: 4%;
}

.setCheckbox {
    width: 10%;
    margin-right: 2%;
}

.searchTools {
    background-color: #1e1e1e;
    border-radius: 1vw;
    margin: 2%;
    padding: 1%;
    display: flex;
    align-items: center;
    /*flex-wrap: wrap;*/
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
}
.search {
    display: flex;
    justify-content: end;
    align-items: center;
    flex-grow: 1;
}

.pageIndicator {
    width: 10%;
    margin: 0.5%;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    min-height: 3.4vw;
    border: none;
    background-color: #111;
    border-radius: 10px;
    font-size: 3vw;
    font-family: "pusab";
    color: white;
    -webkit-text-stroke: black 0.17vw;
}

.pageBut {
    width: 5%;
    height: 5%;
    align-self: center;
    margin: 1%;
}
#searchBar {
    width: 80%;
}
