@keyframes buttonJump {
  from {
    transform: scale(1.3,1.3);
  }
  to {
    transform: scale(1.2,1.2);
  }
}

@keyframes popupHide {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
}

@keyframes advyout {
    from { background-position-x: 0px }
    to { background-position-x: 285px }
}

@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

body {
    background: black url("../images/advyout.png");
    animation-name: advyout;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-timing-function: linear;
    margin: 0;
}

@font-face {
    font-family: pusab;
    src: url("../assets/PusabFIX.otf") format("opentype");
}
@font-face {
    font-family: chatFont;
    src: url("../assets/chatFont.ttf");
}

.shade {
  background-image: linear-gradient(green,#00000000);
  text-align: center;
  font-family: "oxygene";
  font-size: 2.5vw;
  color: #5df469;
  text-shadow: -1px -1px 0 white,1px 1px 0 white,-1px -1px 0 white,1px 1px 0 white;
}

span {
  font-size: 5vw;
  max-width: 80%;
  display: block;
}

.credits {
  color: white;
  text-align: center;
  font-family: sans-serif;
}

/*Nadpis v custom Listu*/
.titles {
    font-size: 5vw;
    color: white;
    margin: auto;
    text-align: center;
    font-family: pusab;  
}

/* just so stuff doesn't break :D*/
.comTitles {
  font-size: 5vw;
  color: white;
  margin: auto;
  text-align: center;
  font-family: pusab;  
}


.title {
  width: 50vw;
  margin-top: 2%;
  transform: scale(1,1) rotateZ(0deg);
  transition-duration: 0.3s;
}

.title:hover {
  transform: scale(1.1,1.1) rotateZ(2deg);
  transition-duration: 0.3s;
}

.box {
  background-color: #43a045;
  background-image: url("../images/cardBg.png");
  padding: 32px 30px 50px 50px;
  margin: 50px 10% 50px 10%;
  border-radius: 10px;
  font-size: 3vw;
  font-family: "pusab";
  color: white;
  -webkit-text-stroke: black 0.17vw;
  text-shadow: rgba(0,0,0,0.5) 3px 3px 4px;
}

.boxHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.boxLink {
  width: 6vw;
  height: 6vw;
  margin-right: 1vw;
}

.collabParent {
  display: flex !important;
  margin-top: 1vw;
  flex-wrap: wrap;
  justify-content: center;
  background: #0000003b !important;
  border-radius: 12px;
}

.collabParent:hover {
  transform: scale(1.02) !important;
}

.collabChild {
  margin: 0.8vw;
  display: flex;
  align-items: center;
  max-height: 3vw;
}

.memberName {
  transition: text-shadow 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.pStatsContainer {
  background: #00000047;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes loading {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.loading {
  width: 3vw;
  margin: 0.4vw;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.nameShower {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

#graphPercentage {
  font-size: 2vw !important;
  margin: 0 1vw;
}

.graphContainer {
  width: 85%;
  height: 2.5vw;
  display: inherit;
  background: #00000039;
  border-radius: 5px;
}

.graphLine:hover {
  transform: scaleY(1.2);
}

.graphLine:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.graphLine:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.graphPerc {
  display: flex;
  justify-content: space-between;
  opacity: 0;
  transition: opacity 0.1s;
  transform: scaleY(0.8);
  font-size: 1.5vw;
  -webkit-text-stroke: 0.1vw black;
}

.graphLine {
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
  transform: none;
}

.boxCollabHeader {
  margin-bottom: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxIcon {
  width: 3vw;
  margin-right: 1vw;
  height: 3vw;
}

#discordTag {
  padding-right: 1.5vw;
  margin: 0;
  font-size: 1.5vw;
  -webkit-text-stroke: 0.1vw black;
  color: #c8fcc7;
  padding-right: 2vw;
}

.popup {
  display: block;
  margin-left: 37%;
  margin-right: 5%;
  margin-bottom: auto;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  padding: 8px 5px 5px 5px;
  text-align: center;
  width: 60%;
}

.popupAnim {
  animation-name: popupHide;
  animation-duration: 0.5s;
}

#yearButton {
  width: inherit;
  margin: 0px 8vw 0px 0px;
}
.yearButtonImg {
  width: 16vw;
  height: max-content;
  margin: 2vw;
}

.notify {
  position: relative;
  right: 1vw;
  transform: scale(0.6);
  bottom: -9vw;
  margin: -17vw !important;
  background: url("../images/notify.png");
  background-position-y: 0%;
  background-repeat: repeat;
  background-size: auto;
  background-size: contain;
  padding: 7%;
  background-repeat: no-repeat;
  background-position-y: -7px;
  height: 95px;
  cursor: pointer;
  display: none;
}

.verticalSplitter {
  height: 3vw;
  margin: 0 1vw;
  width: 0.3vw;
  border: none;
  border-radius: 9px;
}

.stats {
  width: 2vw;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
    height: 100%;
}

.button {
  display: inline;
  background-color: #00000000;
  transform: scale(1,1);
  transition-duration: 0.2s;
  border: none;
}

.button:active {
  animation-name: buttonJump;
  animation-duration: 0.1s;
}

.disabled {
  opacity: 0.2;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.button:hover {
  transform: scale(1.1,1.1);
  transition-duration: 0.2s;
  cursor: pointer;
}

.gamLink {
  text-decoration: underline;
  color: #58D2FF !important;
  cursor: pointer;
  margin: 0 0.5em;
}

.github {
  width: 4vw;
}

.github:hover {
  transform: rotate(360deg) scale(1.2);
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.titleImage {
  margin-left: auto;
  margin-right: auto;
  width: 40em;
  display: block;
}

#crown {
  transform: translateY(120px);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.boards { margin-top: -5vw; }

/* List always shows by default */
.comments { display: none;}

/* Entire comment box, including user input box */
#commentMaker {
  margin: 2vw 5vw;
  padding: 1vw;
}

/* Comment text area */
.comTextArea {
  background-color: salmon;
  border: none;
  height: 10vw;
  border-radius: 10px;
  resize: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  width: 102%;
  padding: 1%;
  overflow: auto;
  white-space: pre-wrap;
  word-wrap: anywhere;
}

#comFont {
  -webkit-text-stroke: black 0px;
  font-family: chatFont, serif;
  font-size: 2.5vw;
  line-height: 1.1;
  color: white;
}

/* Header and footer of the comment text area */
.comBoxThings {
  display: flex;
  margin: 0;
  align-content: flex-end;
  background-color: crimson;
  justify-content: space-between;
  width: inherit;
  /*i despise css.*/
  height: 4.2vw;
  padding: 0 1%;
}

/* Specific stuff relating to the cbox footer and header */
#comBoxHeader {
  margin-bottom: -2vw !important;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
#comBoxFooter {
  margin-top: -2.2vw !important;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  justify-content: right !important;
  height: auto;
}

/* Text placement in the cbox footer and header */
.comBoxThings > h3 {
  position: relative;
  bottom: 2.5vw;
}

/* User input box */
.pIconInp {
  transform: translateY(0) !important;
  margin: 0 0.5vw 0 1vw !important;
}

/* Placement of the entire comment box */
.comBox {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

/* Hypermodern buttons in cbox footer */
.comFooterButton {
  background: none;
  border: white solid 0.3vw;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  margin: 0.5% 1% 0.5% 1%;
  height: min-content;
}

#verticalLine {
    margin: 1% 2%;
    height: auto;
    border-style: solid;
    border-radius: 15px;
}

/* Comment color picker */
#comCPicker {
  transform: translateY(0);
  width: 114%;
  padding: 0;
  margin: 0;
  position: relative;
  right: 101%;
  bottom: 26%;
  height: 2.7vw;
  cursor: pointer;
}

/* laughing crying emoji yes XDDDDDDDD */
.emojis {
  width: 2.2vw;
  pointer-events: none;
  user-select: text;
}

/* Error when fetching from GD Browser (in comment box) */
.comUserError {
  color: tomato !important;
  padding-left: 1vw;
  font-size: 2vw !important;
  -webkit-text-stroke: black 0.1vw !important;
  margin: 0 !important;
}

.emojiPanel {
  background-color: coral;
  display: flex;
  justify-content: flex-start;
  overflow-x: auto;
}
.listEmoji {
  padding: 0.5vw;
  width: 3.5vw;
}

#commentList {
  margin: 2vw 6vw;
  transform: scale(0.9) translateY(-5%);
}

.clickable {
  cursor: pointer;
  transform: none;
  transition-duration: 0.2s;
  filter: saturate(100%);
}
.clickable:hover {
  filter: saturate(250%);
}

#commentTool {
  justify-content: center;
  width: 45%;
  margin-left: auto;
  margin-right: auto;
} 

.password {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-grow: 1;
}

.eventButton {
  background-color: #2d6da6 !important;
  padding: 0.3% 1%;
  margin: 0.5%;
  margin-left: 4%;
  border-radius: 10%;
}
