@keyframes buttonJump {
  from {
    transform: scale(1.3,1.3);
  }
  to {
    transform: scale(1.2,1.2);
  }
}

@keyframes popupHide {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

body {
  background-image: url("../images/bg.png");
  background-color: #020202;
  margin: 0;
}

@font-face {
    font-family: pusab;
    src: url("../assets/PusabFIX.otf") format("opentype");
}
@font-face {
    font-family: chatFont;
    src: url("../assets/JetBrainsMono-Regular.ttf");
}

.shade {
  background-image: linear-gradient(green,#00000000);
  text-align: center;
  font-family: "oxygene";
  font-size: 2.5vw;
  color: #5df469;
  text-shadow: -1px -1px 0 white,1px 1px 0 white,-1px -1px 0 white,1px 1px 0 white;
}

span {
  font-size: 5vw;
  max-width: 80%;
  display: block;
}

.credits {
  color: white;
  text-align: center;
  font-family: sans-serif;
}

/*Nadpis v custom Listu*/
.titles {
    font-size: 5vw;
    color: white;
    margin: auto;
    text-align: center;
    font-family: pusab;
    
}

.title {
  width: 90vw;
  transform: scale(1,1) rotateZ(0deg);
  transition-duration: 0.3s;
}

.title:hover {
  transform: scale(1.1,1.1) rotateZ(2deg);
  transition-duration: 0.3s;
}

.box {
  background-color: #43a045;
  background-image: url("../images/cardBg.png");
  padding: 20px 0px 32px 50px;
  margin: 50px 10% 50px 10%;
  border-radius: 10px;
  font-size: 3vw;
  font-family: "pusab";
  color: white;
  -webkit-text-stroke: black 0.17vw;
}

.boxLink {
  width: 8vw;
  height: 8vw;
}

.popup {
  display: block;
  margin-left: 50%;
  margin-right: 5%;
  margin-bottom: auto;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  padding: 8px 5px 5px 5px;
  text-align: center;
}

.popupAnim {
  animation-name: popupHide;
  animation-duration: 0.5s;
}

#yearButton {
  width: inherit;
  margin: 0px 8vw 0px 0px;
  float: none;
}
.yearButtonImg {
  width: 250px;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.button {
  display: inline;
  float: right;
  background-color: #00000000;
  transform: scale(1,1);
  transition-duration: 0.2s;
  border: none;
}

.button:active {
  animation-name: buttonJump;
  animation-duration: 0.1s;
}

.disabled {
  opacity: 0.2;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.button:hover {
  transform: scale(1.1,1.1);
  transition-duration: 0.2s;
  cursor: pointer;
}

.github {
  float: right;
  display: block;
  padding: 2% 2%;
}

.github:hover {
  transform: rotate(360deg);
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.titleImage {
  margin-left: auto;
  margin-right: auto;
  width: 40em;
  display: block;
}

#crown {
  transform: translateY(120px);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* List always shows by default */
.comments { display: none;}

/* Entire comment box, including user input box */
#commentMaker {
  margin: 2vw 5vw;
}

/* Comment text area */
.comTextArea {
  background-color: salmon;
  border: none;
  height: 10vw;
  border-radius: 10px;
  resize: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  width: 102%;
  padding: 1%;
  overflow: auto;
}

#comFont {
  -webkit-text-stroke: black 0px;
  font-family: chatFont, serif;
  font-size: 2.5vw;
  line-height: 1.1;
}

/* Header and footer of the comment text area */
.comBoxThings {
  display: flex;
  margin: 0;
  align-content: flex-end;
  background-color: crimson;
  justify-content: space-between;
  width: inherit;
  /*i despise css.*/
  height: 4.2vw;
  padding: 0 2%;
}

/* Specific stuff relating to the cbox footer and header */
#comBoxHeader {
  margin-bottom: -2vw !important;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
#comBoxFooter {
  margin-top: -2.2vw !important;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  justify-content: right !important;
}

/* Text placement in the cbox footer and header */
.comBoxThings > h3 {
  position: relative;
  bottom: 2.5vw;
}

/* User input box */
.pIconInp {
  transform: translateY(0) !important;
  margin: 0 0.5vw 0 1vw !important;
}

/* Placement of the entire comment box */
.comBox {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

/* Hypermodern buttons in cbox footer */
.comFooterButton {
  background: none;
  border: white solid 0.3vw;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  margin: 0.5% 2% 0.5% 0;
}

/* Comment color picker */
#comCPicker {
  transform: translateY(0);
  width: 114%;
  padding: 0;
  margin: 0;
  position: relative;
  right: 101%;
  bottom: 26%;
  height: 3.8vw;
  cursor: pointer;
}

/* laughing crying emoji yes XDDDDDDDD */
.emojis {
  width: 2.2vw;
  pointer-events: none;
  user-select: text;
}

/* Error when fetching from GD Browser (in comment box) */
.comUserError {
  color: tomato !important;
  padding-left: 1vw;
  font-size: 2vw !important;
  -webkit-text-stroke: black 0.1vw !important;
}