@keyframes inputError {
    0% {
        transform: translateX(0);
    }
    20% {
        transform: translateX(-1em);
    }
    40% {
        transform: translateX(1em);
    }
    60% {
        transform: translateX(-1em);
    }
    80% {
        transform: translateX(1em);
    }
    100% {
        transform: translateX(0);
    }
}

.helpButton {
    /*position: absolute;*/
    width: 2em;
    height: 2em;
    /*right: 23%;*/
}

#helpTitle {
    font-size: var(--bigFont);
    margin: 0.5em;
    text-align: center
}

.hueChanger {
    box-shadow: rgba(255, 255, 255, 0.35) 0px 0px 0vw 0.2vw;
}

.setTitle {
    margin-bottom: 0;
    text-align: center;
}

.helpBG {
    background-color: #000000a1;
    /* margin: 100%; */
    position: fixed;
    top: 0px;
    z-index: 4;
    width: 100%;
    height: 100%;
    background-image: url("../images/thinkAn.gif");
}

.popupHelp {
    background-color: rgb(50, 63, 50);
    border: rgb(24, 24, 24) 0.7vw solid;
    border-radius: 10px;
    position: fixed;
    margin: auto;
    z-index: 5;
    width: 80%;
    left: 50%;
    padding: 0.8%;
    /*! top: 2%; */
    max-height: 50vh;
    overflow-y: auto;
    /*! margin: auto; */
    transform: translateX(-50%);
}

.customLists {
    width: 90%;
    margin: auto;
}

.uploadBG {
    background: var(--greenGradient);
    margin: 0 auto;
    border: none;
    border-radius: 10px;
    box-shadow: black 5px 5px 41px;
    max-width: clamp(80em, 85%, 80em);
}

.uploadMainInp {
    font-size: var(--normalFont) !important;
    padding: 0 1vw !important;
}
.titImageContainer {
    display: flex;
    align-items: center;
    gap: 1em;
    justify-content: center;
    margin: -0.3em 0em 1em 3em;
}

.uploadText {
    color: white;
    font-family: "pusab";
    font-size: var(--normalFont);
    line-height: 150%;
    text-shadow: rgba(0, 0, 0, 0.5) 0.1vw 0.1vw 0.2vw;
}

.errNotif {
    z-index: 2;
    transform: translate(30vw, 20vh);
    width: 40vw;
    position: absolute;
    pointer-events: none;
    display: none;
}

.errNotText {
    z-index: 3;
    position: relative;
    top: 4vw;
    left: 2vw;
    width: 36vw;
}

#collabTools {
    position: fixed;
    width: 74%;
    height: 95vh;
    left: 50%;
    top: 50%;
    z-index: 4;
    display: flex;
    padding: 0;
    flex-direction: column;
    transform: translate(-50%,-50%);
}

.collabBar {
    display: flex;
    justify-content: space-between !important;
    flex-direction: row !important;
    align-items: center !important;
    overflow-y: hidden !important;
    min-height: 3em;
}

.collabTables {
    border: none;
    text-align: center;
    width: 100%;
}

.collabRoles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 100%;
    align-content: flex-start;
}

.roleBubble {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*! max-height: 3vw; */
    padding: 0.1em 1em;
    border-radius: 0.5vw;
    margin: 0.2em;
    width: 25vw;
}
.roleControls { display: flex; }
.roleControls > img { width: 1.5em; height: 1.5em; margin: 0 0.2em;}

.roleButtons {
    display: flex;
    max-height: 2.5vw;
}

#roleInp {
    border: none !important;
    background: none !important;
    transform: none !important;
    width: 100% !important;
    margin: 0.5% !important;
    outline: none;
}

td>* {
    vertical-align: middle;
}

.collabTables th img:nth-child(1) { vertical-align: middle; }

.collabTables th div {
	display: inline;
	vertical-align: middle;
}

tr:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.2);
}

tr>td:nth-child(2n) {
    background: rgba(0, 0, 0, 0.2);
}

#collabInp::placeholder {
    font-size: var(--smallFont);
}

#collabInp {
    display: inline;
    transform: none;
    width: 45%;
    margin: 0.5%;
    font-size: var(--smallFont);
    background-color: #FFFFFF50;
    border-color: #FFFFFF50;
    -moz-appearance: textfield;
    max-height: 0%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.roleHead,
.humHead {
    display: block;
}

.mobileTabSwitcher {
    display: flex;
    justify-content: space-evenly;
    background: #00000047;
    margin: 1%;
    border-radius: 5px;
}

.mobileTabSwitcher>button {
    font-size: var(--biggerFont);
    background: #ffffff91;
    margin: 1%;
    min-width: 7em;
    border-radius: 25px;
}

.collabHeader {
    overflow-y: auto;
}

.roleList {
    border: none;
    border-radius: 0.5vw;
    padding: 1%;
    margin: 0;
    font-size: var(--smallFont);
    background-color: #00000070;
    width: 90%;
}

/*Would it be better to get rid of this lmao?*/
input:not(.gdSlider, .cardButton, .cardInput, .searchBar, .setCheckbox, .tableCpicker, .homeSearch) {
    margin-left: auto;
    margin-right: auto;
    padding: 3px 5px;
    color: white;
    font-family: "pusab";
    font-size: var(--normalFont);
    display: flex;
    justify-content: center;
    width: 20em;
    background-color: rgba(255, 255, 255, 0.08);
    border: none;
    border-radius: 25px;
    min-width: 2vw;
}


.inputErr {
    animation-name: inputError;
    animation-duration: 0.5s;
}

#imageArrow {
    display: flex;
    width: 4%;
    height: 4%;
    align-self: center;
    transform: scaleY(1);
    transition-duration: 0s;
}

.imgPreview {
    padding: 2%;
    width: 50%;
    display: none;
    margin: 2% auto;
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 20px;
}


#tImgMargin {
    margin-left: 2%;
    margin-right: 1%;
}

#bgcolorPicker {
    display: flex;
    width: 2em;
    height: 2em;
    margin-left: 2%;
    margin-right: 0;
    border: 0.3em white solid;
    background: none;
    border-radius: 0.5vw;
    padding: 0;
    background: #020202;
}

.pickerContainer>* {
    position: absolute;
}

.pickerContainer > img {
    width: 1.6em;
}

.pickerContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 2em;
}

.colorLabel {
    display: flex;
    pointer-events: none;
}

#fillButton {
    width: 2em;
}

#popupBG {
    z-index: 3;
    background: #00000087;
    display: none;
    transition: opacity 0.1s linear;
}

#shareTools {
    position: fixed;
    display: none;
    width: min(70%, 25em);
    top: 50%;
    left: 50%;
    z-index: 4;
    padding: 0 0vw 1.5em 1.5em;
    transform: translate(-50%,-50%);
}

#shareContainer {
    font-size: var(--normalFont);
    margin: 1em 0;
    border: none;
    opacity: 1 !important;
    padding: 0.4em;
    width: 80% !important;
}

#jumpToTools {
	z-index: 4;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    width: min(90%, 35em);
}

.cardInput {
    margin: 15px 30%;
    background-color: rgb(36, 36, 36);
    border: rgb(36, 36, 36) 5px solid;
    border-radius: 20em;
    padding: 3px 5px;
    color: white;
    transform: translateY(-20%);
    width: clamp(5em, 21vw, 14em);
    font-family: "pusab";
    /* font-size: var(--bigFont); */
    min-height: 1.5em;
}

.cardButtonsContainer {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    align-items: center;
}

.cardExtrasContainer {
    display: none;
    padding: 1%;
    width: 100%;
    margin: 1% 0%;
    border-radius: 0.3vw;
    box-sizing: border-box;
}

#slider {
    width: 102%;
    margin-top: -2.8vw;
    height: 5vw;
    margin-bottom: -1vw;
    background: transparent;
    border: none;
    margin-left: -1vw;
}

#sliderImg {
    width: 100%;
    height: 1em;
    border-radius: 0.5vw;
    pointer-events: none;
}

input[type=range] {
    -webkit-appearance: none;
    background: none;
}

input[type=range]::-webkit-slider-runnable-track {
    max-width: 98%;
    height: 0px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 8px;
    background: white;
    margin: -2vh 0;
    transform: translateX(1vw);
}

#slider::-moz-range-thumb {
    -moz-appearance: none;
    background: url("../images/picker.svg");
    border: none;
    border-radius: 0.4vw;
    background-size: cover;
}


input::-webkit-input-placeholder {
    opacity: 0.5;
    color: white;
    font-family: "pusab";
    font-size: var(--smallFont);
}

input::-moz-placeholder {
    color: white;
    font-family: "pusab";
    font-size: var(--smallFont);
}

input:disabled {
    opacity: 0.5;
}

.listColPicker {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.3vw;
    flex-direction: column;
}

.bgcolorContainer {
    width: 90%;
    background: rgba(255, 255, 255, 0.08);
    padding: 1vw;
    box-sizing: border-box;
    border-radius: 10px;
}

#submitarea {
    display: flex;
    justify-content: center;
    align-items: center;
}

#submitbutton {
    width: auto;
    padding: 0.5% 1%;
    height: auto;
    background-color: rgb(113, 212, 113);
    border: none;
    margin: 0% 2% 1%;
    color: black;
    display: flex;
    align-items: center;
    gap: 0.5em;
    border-radius: 10px;
    text-shadow: none;
}

#removebutton {
    width: auto;
    padding: 0.5% 1%;
    height: auto;
    background-color: rgb(212, 113, 113);
    color: rgb(255, 0, 0);
    border: none;
    margin: 0% 2% 1%;
}

.backToEditor {
    float: left;
    width: 3em;
    padding: 1em;
    position: absolute;
    z-index: 2;
}

.listErrors {
    opacity: 0.1;
    width: 15em;
    margin: auto;
    display: block;
    padding: 1em 0;
}

#listPreview {
    background-color: rgb(36, 36, 36);
    color: white;
    padding: 0 0.7em;
    margin: 1em 0;
    border: white 0.3em solid;
    border-radius: 5px;
    display: block;
    background-size: 150vw;
    background-position-x: 99%;
    transition: background-position-x 0.5s;
    max-width: clamp(80em, 85%, 80em);
}

#listPreview:hover {
    background-position-x: 1%;
    cursor: pointer;
}
.cInfoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inListRating {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: var(--miniFont);
	gap: 0.1em;
}
.inListRating img { width: 1.3em; }

.viewContainer {
    display: flex;
    gap: 0.6em;
    align-items: center;
    font-size: var(--miniFont);
    font-family: pusab;
}
.viewContainer img { width: 1.6em; }
.timeContainer { cursor: help;}

.hostIcon {
    width: 2em;
}

.editorHeader {
    margin: 0%;
    padding: 0 1%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: url("../images/headerBG.webp");
}

.cutImage {
    width: inherit;
    height: inherit;
    position: absolute;
    background: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/4962ef64-2a17-4f23-834e-14e177b0e45e/dfedtjl-174273d9-bea0-4064-a915-d7c72aac189c.png/v1/fill/w_1280,h_1810,strp/weavile_cave_by_gamingascz_dfedtjl-fullview.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTgxMCIsInBhdGgiOiJcL2ZcLzQ5NjJlZjY0LTJhMTctNGYyMy04MzRlLTE0ZTE3N2IwZTQ1ZVwvZGZlZHRqbC0xNzQyNzNkOS1iZWEwLTQwNjQtYTkxNS1kN2M3MmFhYzE4OWMucG5nIiwid2lkdGgiOiI8PTEyODAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.VV6m6sFRhuACRaaiqC0h2Ro4H3HKGr8PuEdLKJ4afZM");
    background-size: contain;
}

.BGsettBG {
    width: 100%;
    height: 100%;
    position: absolute;
    filter: blur(8px);
    z-index: -4;
    opacity: 0.4;
    background-size: cover;
}
#backImageSettings {
    display: flex;
    gap: 1em;
    padding: 0.5em;
}
#backDragContainer {
    position: relative;
}
.cutBox {
	position: absolute;
	cursor: move;
	stroke: #5fdd5f;
	filter: drop-shadow(rgb(0, 0, 0) 0px 0px 0.3em);
    transform: scaleX(1);
    transition: transform 0.2s;
}

.cutBox:active {
    transform: scaleX(1.05);
}

.alignButtons { width: 1.5em; border-radius: 0.3em !important;}

#bgCoverageSlider::-moz-range-thumb {
    background: #4d6c4f;
    border: none;
    box-shadow: black 0px 0px 7px;
    transform: scale(1.2);
    transition: transform 0.2s;
}
#bgCoverageSlider::-moz-range-track {
    background: #ffffff1c;
    height: 0.4em;
    border-radius: 2em;
}
#bgCoverageSlider::-moz-range-progress {
    background: linear-gradient(9deg, #54c14b, #31fda7);
    height: 0.4em;
    border-radius: 2em;
}
#bgCoverageSlider::-moz-range-thumb:hover {
    transform: scale(1.25);
    cursor: pointer;
}
#bgCoverageSlider::-moz-range-thumb:active {
    transform: scale(1.4);
}
#bgCoverageSlider {
    width: 100%;
   }   

.gradCheck {
    display: flex;
    align-items: center;
    margin-top: 0.4em;
}
.bgError {
	display: flex;
	align-items: center;
	gap: 0.7em;
	background: #ff00005e;
	padding: 0.7em;
	margin: 0.7em;
	border-radius: inherit;
}
.bgError > img {width: 2em;}

.headerButtons {
    width: 3.2em;
    height: 3.2em;
    margin-right: 0.5em;
    padding: 0.4em !important;
    box-sizing: border-box;
}

.headerText {
    display: inherit;
    align-items: center;
    margin-right: auto;
    margin-left: 2%;
}

.helpText {
    display: flex;
    align-items: center;
}

#mainContent,
.collabBG {
    text-align: left;
    background-image: url("../images/fade.webp");
    background-repeat: repeat-x;
    height: 100%;
}

.smallHelp {
    width: 1.7vw;
    height: auto;
    vertical-align: top;
}


.positionEdit,
.smallPosEdit {
    margin: 1%;
    background-color: darksalmon;
    border: salmon 5px solid;
    border-radius: 8px;
    white-space: nowrap;
    box-shadow: #0000004f 8px 8px 5px;
    padding: 0.5%;
}

.smallPosEdit {
    padding: 0 !important;
    margin: 0.5% !important;
}

.positionEdit {
    transform: scaleY(1);
    transition-duration: 0.1s;
}

#posInputBox {
    margin: 0;
    background-color: rgba(23, 23, 23, 0.35);
    border: none;
    transform: translate(0);
    transition: background-color 50ms;
    padding: 0.2em 0 0.2em 0.7em;
    font-size: var(--normalFont);
}

.lineSplitGeneral {
    height: 4px;
    background-color: salmon;
    border: none;
    width: 100%;
}

.availFill {
    background: white;
    height: 7%;
    width: 3%;
    margin: 1%;
    border: none;
    border-radius: 10%;
    transition: opacity 0.1s linear;
    box-shadow: black 0px 0px 4px;
}

.nameDetailGetter {
    margin-right: 5%;
}

#moveLPosButton {
    width: 2em;
}

#posInputPics {
    width: 2.5em;
    height: 2.5em;
    margin-right: 1vw;
}

.collListBut {
    background: rgba(0, 0, 0, 0.6) none repeat scroll 0% 0%;
    box-sizing: border-box;
    padding: 0.2em;
    border-radius: 10em;
    filter: hue-rotate(0deg);
}

.positionButtons {
    display: flex;
    /*! justify-content: flex-end; */
    align-items: center;
    width: min-content;
}

#positionDisplay {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    margin: 0.5%;
    transform: translate(0);
    font-size: var(--normalFont) !important;
    height: 1.5em;
    width: 3em;
	background: rgba(23, 23, 23, 0.35);
}

.cardButton {
    padding: 0em 0.2em;
    width: 2.5em;
    height: 2.5em;
}

.diffContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.diffIcon {
    width: 50%;
    height: auto;
    position: absolute;
}

.diffFace {
    width: 2.5em;
    padding: 0.5em 0.5em;
    height: fit-content;
}

.difficultyPicker {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow-x: auto;
    overflow-y: clip;
}

.diffFaces {
    width: 78%;
    display: flex;
    /*! gap: 0em; */
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
}

.faceSelected {
    background: #0000006e;
    border-radius: 1vw;
}

.diffOptions img {
    width: 2vw;
}
  .diffOptions {
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: rgba(0, 0, 0, 0.336);
    border-radius: 1vw;
    padding: 0.5vw;
    grid-gap: 0.3vw;
  }

.bgPick {
    background-color: rgba(255, 255, 255, 0.548);
    border-radius: 1vw;
}

.bgSettingsContainer {
    display: flex;
    justify-content: center;
    gap: 1vw;
}

.bgProps {
    position: absolute;
    z-index: 5;
    left: 25%;
    display: none;
}

.bgPropsMain {
    padding: 0 1vw 1vw 1vw;
}

#inpEpic:checked,
#inpFeatured:checked,
#inpGrad:checked {
    -moz-appearance: none;
    appearance: none;
    background: url("../images/check-on.webp");
    background-size: contain;
    background-repeat: no-repeat;
    padding: 1vw;
    background-position: center;
    vertical-align: middle;
}

#inpEpic,
#inpFeatured,
#inpGrad {
    -moz-appearance: none;
    appearance: none;
    background: url("../images/check-off.webp");
    background-size: contain;
    background-repeat: no-repeat;
    padding: 1vw;
    background-position: center;
    vertical-align: middle;
}

#epicGlow {
    z-index: 1;
    width: 70%;
    bottom: 12%;
    right: 14%;
}

#featuredGlow {
    z-index: 1;
    width: 70%;
}

#starRate {
	z-index: 2;
	width: 45%;
    left: calc(1.7vw + 1.4vh);
    top: calc(1.3vw + 1.5vh);
}

#diffBG {
    width:inherit;
    z-index: 0;
}
.diffMain {
    z-index: 2;
}

.settingSubbox {
    display: flex;
    gap: 0.3em;
    background: #0000004d;
    padding: 0.4em;
    border-radius: 10px;
    margin-left: 3em;
    width: max-content;
    align-items: center;
}

/* I am in excrutiating pain from this CSS :/*/
.diffSelBut {
	background: #0000004d;
	border: none;
	padding: 0.3em;
	border-radius: 15px;
}

.diffSelBut img {
    width: 2.5em;
}

.listDiffContainer {
    position: relative;
    width: 2em;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.listDiffFace {
    width: 2.5em;
    height: auto;
    position: absolute;
    z-index: 2;
    transform-origin: center;
}

/* These bastards don't fit in the containers >:( */
.listDiffFace[src$="6.webp"], .diffIcon[src$="6.webp"] { transform: scale(1.09) } /*Easy Demon */
.listDiffFace[src$="7.webp"], .diffIcon[src$="7.webp"] { transform: scale(1.1) } /*Medium Demon */
.listDiffFace[src$="8.webp"], .diffIcon[src$="8.webp"] { transform: scale(1.12) translateY(-0.03em); } /*Hard Demon */
.listDiffFace[src$="9.webp"], .diffIcon[src$="9.webp"] { transform: scale(1.2) translateY(-0.03em); } /*Insane Demon */
.listDiffFace[src$="10.webp"], .diffIcon[src$="10.webp"] { transform: scale(1.2) translateY(-0.08em); } /*Extreme Demon */

.listDiffEpicRate {
    position: absolute;
    width: 200%;
    top: -0.8em;
}
.listDiffRate {
    position: absolute;
    width: 3.5em;
}

.listDiffStar {
    position: absolute;
    z-index: 2;
    width: 60%;
    left: 1.3em;
    top: 1.7em;
}

.rateContainer {
    display: flex;
    gap: 6vh;
    transform: scale(0.8);
    align-items: center;
}

.cpicker {
    width: inherit;
    height: inherit;
    position: relative;
    opacity: 0%;
    transform: translateX(-100%);

}

.shareBG {
    background-color: #1e1e1e;
    padding: 1%;
    border-radius: 10px;
    display: flex;
    margin: 0 1% 0 0;
}

.shareTitle {
    margin-left: 3%;
    color: #1fb1e1;
    margin: 0 0 0 3%;
}

.shareContainer {
    display: flex;
    align-items: center;
    margin: 0% 0% 1% 3%;
}

.shareBut {
    width: 3vw;
    height: 3vw;
}

.passText {
    position: absolute;
    left: 61.5vw;
    top: 48vw;
}

.killList {
    transition-duration: 4s;
    transform: scaleY(0.0) scaleX(2);
    filter: invert(100%);
    transition-timing-function: ease-out;
}

.boom {
    background-color: white;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    opacity: 0;
    display: none;
    z-index: 4;
}

.removeImg {
    transition-duration: 0.5s;
    margin-left: 41vw;
}

#rmbutton {
    margin-left: 2.5%;
    margin-right: 2.5%;
    font-size: var(--biggerFont);
    background: #512c2c !important;
}

.settingsBG {
    background-color: rgba(255, 255, 255, 0.08);
    margin: 0% 19% 3%;
    padding: 1%;
    border-radius: inherit;
    display: flex;
    flex-direction: column;
}

.setting {
    display: flex;
    align-items: center;
    /*! margin-top: 1%; */
}

.setLabel {
    margin: 0%;
}

.setHelp {
    width: 1.5em;
    margin-left: 1%;
    margin-bottom: 3%;
}

.setCheckbox {
    width: 2em;
    margin-right: 1%;
}

.noRoles,
.noRolAdded,
.addRoles {
    margin-left: 1%;
    color: rgb(173, 230, 185);
}

.noRolAdded,
.addRoles>img {
    transform: translateY(0.6vw);
}

.tableCpicker {
	width: 1.5em;
	height: 1.5em;
	display: inline;
	border: white solid 4px;
	padding: 0;
	border-radius: 5px;
	position: relative;
}

.collabHButtons {
    display: flex;
    justify-content: right;
}

.presetButtonContainer {
    padding: 0.2% 2%;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    font-size: var(--smallFont);
}

.socButton {width: 1.2em; padding: 0 0.5%;}

#searchLists {
    width: 3em;
    margin-left: 1%;
    background: var(--greenGradient);
    border-radius: 10em;
    padding: 0.4em;
    box-sizing: border-box;
}
#remFaveBut {
    width: 2.5em;
    box-sizing: border-box;
    background: #00000059;
    border-radius: 10em;
    padding: 0.3em;
}

#passEditor {
    padding: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation-duration: 0.5s;
    animation-timing-function: cubic-bezier(.46,.03,.52,.96);
}
#lpass {
    width: 30%;
    margin: 0;
}
#lpass::placeholder {
    background-image: url(../images/password2.svg);
}

#passSubmit {
    background: rgba(0, 0, 0, 0.459);
    border-radius: 100%;
    padding: 0.3em;
}

.socialPickerIcon {
    display: inline;
    width: 4vw;
}

.popupArrow {
    position: absolute;
    top: -1vw;
}

.socialPicker {
    position: absolute;
    background: #1e1e1e;
    padding: 1%;
    z-index: 2;
    border-radius: 10px;
    top: 34.8vw;
    left: 28.5vw;
    display: none;
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pageIndicator {
    text-align: center;
    width: 7% !important;
    margin: 0 !important;
    font-size: var(--miniFont) !important;
}

.pageBut {
    width: 1em;
    height: max-content;
    align-self: center;
    margin: 0 1em;
}

.pageYes, .pageFirst {
	min-width: 2em;
	background: #ffffff0a;;
	text-align: center;
	margin: 0 0.2em;
	border-radius: 0.4em;
    display: inline-block;
}
#pgSelected {background: var(--greenGradient);}

#searchBar {
    width: 15em;
}

.tagContainer {
    background: #00000052;
    height: 100%;
    width: 100%;
    border-radius: inherit;
    display: grid;
    justify-content: center;
    overflow-y: auto;
    padding: 1vw;
    box-sizing: border-box;
    gap: 0.7vw;
    grid-template-columns: 1fr 1fr 1fr;
}
.badgeBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #ffffff12;
    border-radius: 3.8em;
    padding: 0.3em;
    gap: 1em;
}

.tagTop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5em !important;
    gap: 0.5em;
    z-index: 5 !important;
    max-height: 94vh;
}

.tagEditBox {
    display: flex;
    align-items: center;
    background: #00000073;
    padding: 0.3em;
    gap: 0.6em;
    border-radius: 0.4em;
    width: min-content;
}

.tagEditBox img { width: 1em; }
#editBadge { width: 2em; }


.tagButtonsContainer {
    display: flex;
    align-items: center;
    gap: 1em;
}
.tagDataContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
}

#tagNameInput {
    width: 8em;
    font-size: var(--miniFont);
    text-align: center;
}

.listTag {
    display: flex;
    align-items: center;
    gap: 0.5em;
    padding: 0.3em 0.4em;
    border-radius: 100em;
    width: max-content;
    background: #00000078;
}

.listTagContainer {
	margin-top: 1em;
	display: flex;
	gap: 1em;
}

.tagInUse {background: #ffffff2e !important;}

.titleTools {
    display: flex;
    align-items: center;
    gap: 0.5em;
    justify-content: center;
}

.browserTools {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 1em;
    width: 90%;
    margin: auto;
}

.browserButton {
	border-radius: 10em;
	background: transparent;
	border: #4c734c solid 1.5px;
	padding: 0.2em 1em;
}

#browserBSelected { background: var(--defaultGradient); }

.browserContainer {
    margin: auto;
    display: flex;
    gap: 1.5em;
    width: max-content;
}