@media only screen and (max-width: 750px) {

:root {
    --fontMultiplier: 0.8;
}

.boxHeader {
    flex-direction: column;
}

/* Changes navbar style */
.mobilePicker {
    display: flex;
}
.menuPicker {
    display: none;
}


#collabTools {
    border-radius: 0px;
    width: 100%;
    height: 100%;
}
.graphPerc { font-size: 2.5vw;}
.graphContainer { height: 5.5vw; }

#levelUpload {margin: 0 0.6em;}

.diffContainer {
    width: 7.5vw !important;
    height: 7.5vw !important;
}

/* Hides help text in searchTool/CommentTool */
#pageStr, #sortStr { display: none; }

.socInp { width: 40vw !important;}
.percCollab { padding: 0.1em !important; }

.humHead, .roleHead { display: none; }
.collabStuff { display: none; }
.mobileTabSwitcher { display: flex !important; }
.memberStuff { display: none;}
.roleList {appearance: none;}


.collabRoles > .roleBubble {
    max-height: 5vh;
    width: 90%;
}

#collabTools > .editorHeader { padding: 0 6vw 0 0; }

.presetButtonContainer > * {
    font-size: var(--biggerFont);
}

.roleControls > img {
    width: 4vh;
    height: 4vh;
}

#homepageHeader { background-size: unset; }

.listInfoContainer {
    flex-direction: column;
}

.collabTables th div { display: none !important; }
.collabTables th > div { display: none !important; }

ul > div {
    margin: 0;
}

.browserTools { flex-direction: column; }

.boxLinksContainer { margin: 0;}

#backImageSettings {
    flex-direction: column;
    align-items: center;
    width: 100% ;
}

.browserContainer { margin-bottom: 1em; }
#toplevel::before {
    top: -58px;
    background-size: 8em;
}

#commentMaker {
    flex-direction: column-reverse;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 96.8%;
    background: #000000e8;
    border-radius: 0;
}

#commAmount {
	position: absolute;
	right: 3px;
	bottom: 3px;
}
#commButtonText { display: none;}
.listMore {display: block !important;}
.listOptionsContainer > button > div { display: none;}
.listOptionsContainer button { min-width: max-content; }
.listOptionsContainer button > img {
    width: 2em;
    padding: 0.5em;
}
#viewImg {display: inline;}
#viewText {display: none;}
#descPreviewButton > div { display: none; }
}