@keyframes buttonJump {
  from {
    transform: scale(1.3,1.3);
  }
  to {
    transform: scale(1.2,1.2);
  }
}

@keyframes flash {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0.75;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes spin {
  from { transform: rotate(0deg)}
  to { transform: rotate(360deg)}
}

@keyframes fadeBlack {
  0% {transform: translateY(0px)}
  50% {transform: translateY(-4em)}
  100% {transform: translateY(0px)}
}
@keyframes popIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

:root {
  --smallFont: calc(1em * var(--fontMultiplier));
  --miniFont: calc(0.7em * var(--fontMultiplier));
  --normalFont: calc(1.2em * var(--fontMultiplier));
  --bigFont: calc(1.6em * var(--fontMultiplier));
  --biggerFont: calc(1.8em * var(--fontMultiplier));
  --xlFont: calc(2em * var(--fontMultiplier));

  --lightHighlight: invert(0.4) sepia(1) saturate(1.5) hue-rotate(90deg);
  --redHighlight: invert(0.4) sepia(1) saturate(4) hue-rotate(300deg);
  --greenGradient: linear-gradient(9deg, #142019, var(--normalColor));
  --defaultGradient: linear-gradient(9deg, #142019, var(--normalColor));
  --defaultBackground: #08110b;
  --siteBackground: #08110b;
  --fontMultiplier: 1;
  --normalColor: #045124;
  --defaultColor: #045124;
  --tinyFont: calc(0.5em * var(--fontMultiplier));
  --likeGlow: none;
  --dislikeGlow: none;
  --listBGgradient: transparent;
}

body {
    background-color: var(--siteBackground);
    transition: background-color 0.25s;
    margin: 0;
}

@font-face {
    font-family: pusab;
    src: url("../assets/Poppins-Medium.ttf");
}

@font-face {
    font-family: chatFont;
    src: url("../assets/chatFont.ttf");
}

.logo {
  width: 2.5em;
  transition: transform 1s;
}

.menuPicker {
  display: flex;
  align-items: center;
  gap: 2em;
}

@keyframes logoPoint {
  0% {
    transform: scale(1.05) translateY(0.1vw);
  }
  50% {
    transform: scale(1.15) translateY(0.2vw) rotate(-20deg);
  }
  100% {
    transform: scale(1.05) translateY(0.1vw);
  }
}

span {
  font-size: var(--bigFont);
  max-width: 80%;
  display: block;
}

.credits {
  color: white;
  text-align: center;
  font-family: sans-serif;
}

/* Homepage containers */
ul > div {
  margin-left: 6em;
}

/*Nadpis v custom Listu*/
.titles {
    font-size: var(--xlFont);
    color: white;
    text-align: center;
    font-family: pusab;
    padding: 0.5em 0;
    margin: 0;
}
#pinContainer {
  display: flex;
  gap: 1em;
  align-items: center;
}

#unpinCard {
  width: 2.5em;
  background-color: rgba(0, 0, 0, 0.397);
  border-radius: 10em;
  padding: 0.2em;
  box-sizing: border-box;
}

.placeholderName {
  height: 9vh;
  background: #cececeb3;
  width: 38vw;
  border-radius: 0.7vw;
}
.placeholderCreator {
  height: 5vh;
  width: 17vw;
  background: #cececeb3;
  margin-top: 0.5vw;
  border-radius: 0.7vw;
}


#listDescriptionContainer {
  background: #00000085;
  position: relative;
  box-sizing: border-box;
  border-radius: 0.5em;
}
#descriptionContainer {
  width: 100%;
}
#listName {
  margin-left: 3em;
  font-weight: bolder;
  font-size: var(--bigFont);
  line-height: 1.1;
}
#listHeaderInfo {
  font-size: var(--smallFont);
}
#listButtonContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5em;
}

#listHeader {
  display: flex;
  align-items: center;
  height: 2em;
  background: #ffffff17;
 }
 

.listInfo {
  background: linear-gradient(180deg, #00000082, transparent);
  display: flex;
  align-items: center;
  padding: 0 1.5em;
  width: clamp(13em, 90%, 90em);
  margin: auto;
  gap: 0.5em;
  padding-top: 1em;
}

.listUsername {
  font-size: var(--miniFont);
  margin: 0;
  display: flex;
  align-items: center;
  gap: 0.5em;
}
.listPFP {
  width: 3.5em;
  border-radius: 10em;
  border: white 2px solid;
  box-sizing: border-box;
  /*! position: absolute; */
  bottom: 5.2em;
  margin: 0 0.7em;
  transform: translateY(-25%);
  height: 3.5em;
}

.listHeaderBlue {
	display: flex;
	align-items: center;
	background: linear-gradient(9deg, #141f20, #044a51) !important;
	border-radius: 1em;
	gap: 0.2em;
	/*! max-width: fit-content; */
	border: none;
	min-width: 7em;
	cursor: pointer;
	font-size: var(--miniFont) !important;
  /*! max-width: 100%; */
}

.listHeaderBlue img {
  width: var(--smallFont);
  padding-left: 0.4vw;
}

.listOptionsContainer {
  display: flex;
  gap: 0.2em 0.4em;
  align-items: center;
}
#listOptionsID {
  display: flex;
  justify-content: space-between;
  text-align: left;
  margin: 0 1vw;
}

#commButton {
	background: var(--greenGradient) !important;
	padding: 0.8em;
	min-width: max-content;
  transition: box-shadow 0.2s;
	gap: 0.8em;
	height: 100% !important;
}

.guessBadge {
  vertical-align: sub;
  width: var(--normalFont);
}

/* just so stuff doesn't break :D*/
.comTitles {
  font-size: var(--xlFont);
  color: white;
  margin: auto;
  text-align: center;
  font-family: pusab;  
}

#listLevelSub {
  font-size: var(--normalFont);
}

.listLNContainer {
  display: flex;
  align-items: center;
}

#listLevelName {
  font-size: var(--bigFont);
  font-weight: bolder;
  margin: 0
}

.listOptions > div {
  display: flex;
}

.diffGuessResult {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 5;
	margin: -1.5em -2em;
	border-radius: inherit;
	mix-blend-mode: screen;
	opacity: 1;
  animation-duration: 0.8s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-size: contain !important;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#rates {
  display: flex;
  justify-content: space-between;
}

.copyPopup {
	position: absolute;
	z-index: 3;
	background: #000000bd;
	width: 95%;
	top: 7.5%;
	right: 2.5%;
	height: 85%;
	text-align: center;
	box-sizing: border-box;
	border-radius: inherit;
  animation-name: popIn;
  animation-duration: 0.05s;
  animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
}

.box {
  background-color: #43a045;
  background-image: url("../images/cardBg.webp");
  padding: min(1.5em,3vw) min(2em,3vw);
  margin: 2ch auto;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  font-family: "pusab";
  color: white;
  text-shadow: rgba(0,0,0,0.5) 0.2vw 0.2vw 0.3vw;
  position: relative;
  z-index: 1;
  max-width: clamp(73em, 75%, 80em);
}

#viewCount { font-size: var(--smallFont); }
.listViewContainer {
  display: flex;
  align-items: center;
  gap: 0.4em;
}

#listDescription {
  --gradEnabled: linear-gradient(0deg, black, transparent);
  font-size: var(--smallFont);
  padding: 0.1em 0.4em;
  text-shadow: none;
  margin: 0;
  min-height: 6em;
  height: 6em;
  transition: height 0.2s ease-in-out;
  overflow: hidden;
  line-height: 130%;
}

#listDescription::before {
	content: "";
	background: var(--gradEnabled);
	width: 100%;
	height: 1em;
	position: absolute;
	bottom: 0px;
}

#showMore {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	border: none;
	width: 3em;
	border-radius: 1em 1em 0em 0em;
	background: var(--normalColor);
	filter: brightness(2.5);
	cursor: pointer;
}

/* Crown */
#toplevel::before {
  content: "";
  background: url(../images/crown.webp);
  background-repeat: repeat;
  background-size: auto;
  width: 100%;
  height: 218px;
  position: absolute;
  top: -87px;
  left: 0;
  background-size: 12em;
  background-repeat: no-repeat;
  background-position-x: center;
  z-index: 3;
  pointer-events: none;
}

.boxLinksContainer {
  display: flex;
  margin-right: 5em;
}

.settingsDropdown {
  background: var(--normalColor);
  border: none;
  border-radius: 0.5vw;
  font-size: var(--smallFont) !important;
  text-align: center;
  box-shadow: #0009 0vw 0vw 1vw;
}

.siteSettingsChild {
  display: flex;
  flex-direction: column;
  background: #0000004a;
  border-radius: 1em;
  align-items: center;
  padding: 0.6em;
  /*! margin-bottom: 0.6em; */
  width: 100%;
  box-sizing: border-box;
}

.siteSettingsChild > p {
  margin: 0;
}

.settingsMenu {
  position: absolute;
  /*! float: right; */
  background: var(--greenGradient);
  right: 0.75em;
  top: 4em;
  padding: 0.6em;
  width: max-content;
  border-radius: 0.7em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6em;
}

.favoriteStar {
  position: relative;
  bottom: 0.6em;
  left: 0.5em;
  width: 3em;
  float: right;
  /*! padding-left: 4vw; */
}

.scrollToTop {
  width: 2em;
  transform: rotate(90deg) !important;
  opacity: 0;
  transition: opacity 0.2s linear;
  pointer-events: all;
  margin: 1%;
  z-index: 2;
}
.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  pointer-events: none;
}

.listHeader {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 0.7em;
}

.boxHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.boxLink {
  width: 5em;
  height: 5em;
  margin-right: 5%;
  filter: drop-shadow(#000000c2 0px 0px 8px);
}

.collabParent {
  display: flex !important;
  margin-top: 0.5em;
  flex-wrap: wrap;
  justify-content: center;
  background: #0000003b !important;
  border-radius: 12px;
}

.collabParent:hover {
  transform: scale(1.02) !important;
}

.collabChild {
  margin: 0.4em;
  display: flex;
  align-items: center;
  /*! max-height: 3vw; */
}

.memberName {
  transition: text-shadow 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.pStatsContainer {
  background: #00000047;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes loading {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.loading {
  width: 1em;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.nameShower {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

#graphPercentage {
  font-size: var(--smallFont) !important;
  margin: 0 1vw;
}

.graphContainer {
  width: 85%;
  height: 2em;
  display: inherit;
  background: #00000039;
  border-radius: 5px;
}

.graphLine:hover {
  transform: scaleY(1.2);
}

.graphLine:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.graphLine:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.graphPerc {
  display: flex;
  justify-content: space-between;
  opacity: 0;
  transition: opacity 0.1s;
  transform: scaleY(0.8);
  font-size: var(--smallFont);
}

.graphLine {
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
  transform: none;
  min-height: var(--normalFont);
}

.finishDiffList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1% 0;
  margin-top: 5vh !important;
  width: clamp(2vw, 90vw, 40em);
}

.boxCollabHeader {
  margin-bottom: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxIcon {
  width: 2em;
  margin-right: 0.5em;
  height: 2em;
}

#discordTag {
  padding-right: 1.5vw;
  margin: 0;
  font-size: var(--smallFont);
  -webkit-text-stroke: 0.1vw black;
  color: #c8fcc7;
  padding-right: 2vw;
}

.popup {
  display: block;
  margin-left: 37%;
  margin-right: 5%;
  margin-bottom: auto;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  padding: 8px 5px 5px 5px;
  text-align: center;
  width: 60%;
}

.yearButtonImg {
  border: none;
  margin: 0 !important;
  background: #13131387;
  font-size: var(--bigFont) !important;
  cursor: pointer;
  padding: 0.2em 1em;
  border-radius: 10em;
  display: flex;
  gap: 0.5em;
  align-items: center;
}

.yearButtonImg > h4 {
  margin: 0;
  line-height: 100%;
}

.yearButtonImg > img {
  width: var(--smallFont);
}

.verticalSplitter {
  height: 2em;
  margin: 0 0.2em;
  width: 0.3em;
  border: none;
  border-radius: 9px;
  background: var(--greenGradient);
  box-sizing: border-box;
}

.stats {
  width: var(--normalFont);
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
    height: 100%;
    scroll-behavior: smooth;
}

.button {
  display: inline;
  background-color: #00000000;
  transform: scale(1.0);
  transition-duration: 0.2s;
  border: none;
}

.button:active:not(#categoryBut) {
  animation-name: buttonJump;
  animation-duration: 0.1s;
}

.disabled {
  opacity: 0.2;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.button:hover {
  transform: scale(1.05);
  transition-duration: 0.2s;
  cursor: pointer;
}

.niceButton {
	background: #ffffff14;
	border: none;
	display: flex;
	align-items: center;
	border-radius: 100px;
  gap: 0.5em;
  padding: 0 0.5em;
  min-width: max-content;
}
.diffRes {
  transition: width 0.5s;
  width: 0%;
}

#commButtonText {
  font-size: var(--normalFont);
}

#linkViewer {
  margin: 0;
  width: 94%;
  font-size: var(--miniFont);
}

.linkWarn .eventButton {
  margin: 0 !important;
}

.gamLink {
  text-decoration: underline;
  color: #58D2FF !important;
  cursor: pointer;
  margin: 0 0.5em;
}

.github {
  width: 4vw;
}

.github:hover {
  transform: rotate(360deg) scale(1.2);
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.titleImage {
  width: 100%;
  height: 50%;
  position: absolute;
  top: 2.5em;
  z-index: -5;
  background-size: cover;
}
.titleImage::after {
  content: "";
  background: var(--listBGgradient);
  width: 100%;
  height: 100%;
  position: absolute;
}

.boards {
  margin-top: 6em;
  padding: 1em;
}

/* List always shows by default */
.comments { display: none;margin: 0.5em;}

#commAmount {
	background: #d94242;
	font-size: var(--normalFont);
	padding: 0.1vw;
	border-radius: 20%;
	/*! margin-left: 1vh; */
	min-width: var(--miniFont);
	text-align: center;
}

/* Entire comment box, including user input box */
#commentMaker {
  margin: 1em auto 0;
  padding: 0.5em;
  max-width: clamp(73em, 75%, 80em);
  background: none;
  border: none;
  box-shadow: none;
}

/* Comment text area */
.comTextArea {
  background-color: salmon;
  border: none;
  max-height: 6em;
  border-radius: 5px;
  resize: none;
  width: 102%;
  padding: 0.5%;
  overflow: auto;
  /*! word-wrap: anywhere; */
  margin: 0.3em 0 0;
  min-height: 2em;
  /*! word-break: break-all; */
  white-space: normal;
}

#comFont {
  font-family: chatFont, serif;
  font-size: var(--smallFont);
  line-height: 1.1;
  color: white;
  text-shadow: none;
}

#pIcon {
  width: 2.2em;
  border-radius: 10em; 
  box-sizing: border-box;  
}
#cHeader {
  display: flex;
  align-items: end;
  gap: 0.5em;
  justify-content: space-between;
}
#charLimit {
  margin: 0;
  font-size: var(--miniFont);
}
.cNameContainer {
  display: flex;
  align-items: end;
  gap: 0.5em;
}

.sendBut {
  margin-left: 2em !important;
}

/* Header and footer of the comment text area */
.comBoxThings {
  display: flex;
  justify-content: space-between;
}

/* Specific stuff relating to the cbox footer and header */
#comBoxFooter {
  justify-content: flex-end !important;
  gap: 0.5em;
  max-width: clamp(70.6em, 67%, 132em);
}

.comHeaderText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1;
  margin-left: 0.6em;
}
.comHeaderText > h5 {
  margin: 0;
  font-size: var(--smallFont);
  line-height: 1.4;
}
.comHeaderText > h5:nth-child(2) {
  opacity: 0.4;
}

/* Text placement in the cbox footer and header */
.comBoxThings > h3 {
  margin: 0;
}

/* Placement of the entire comment box */
.comBox {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

/* Hypermodern buttons in cbox footer */
.comFooterButton {
  background: none;
  cursor: pointer;
  height: min-content;
  border-radius: 10em;
  width: 1.3em;
  padding: 0.3em;
}

#verticalLine {
  margin: 0.5% 2%;
  height: auto;
  border-style: solid;
  border-radius: 15px;
}

/* Comment color picker */
#comCPicker {
  transform: translateY(0);
  width: 114%;
  padding: 0;
  margin: 0;
  position: relative;
  right: 101%;
  bottom: 26%;
  height: 2.7vw;
  cursor: pointer;
}

/* laughing crying emoji yes XDDDDDDDD */
.emojis {
  width: 1em;
  pointer-events: none;
  user-select: text;
}

/* Error when fetching from GD Browser (in comment box) */
.comUserError {
  color: tomato !important;
  padding-left: 1vw;
  margin: 0 !important;
}

.emojiPanel {
  background-color: coral;
  display: flex;
  justify-content: flex-start;
  overflow-y: hidden;
  overflow-x: auto;
  margin-top: 0.3em;
  border-radius: 0.3em;
}
.listEmoji {
  padding: 0.2em;
  width: 2em;
}

.emojiPanel > .colorPicker {
  width: 100%;
  padding: 1% 2%;
}

#commentTool {
  justify-content: center;
  width: 45%;
  margin-left: auto;
  margin-right: auto;
} 

#cToolTop {
  display: flex;
  align-items: center;
  gap: 0.5em;
  margin: 0 1vw;
}

.password {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.passInput::placeholder {
  background-image: url(../images/edit.svg) !important;
}

nav {
  background-image: var(--greenGradient);
  animation-duration: 0.25s;
  position: sticky;
  width: auto;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  transition: transform 0.05s ease-in;
  top: 0;
  box-shadow: black 0 0 1vw;

}

.mobilePicker {
  text-align: center;
  font-family: pusab;
  color: white;
  display: none;
  flex-direction: row;
  justify-content: center;
  gap: 30%;
}

.mobilePicker > div > h6 {
  margin: 0;
  font-size: var(--miniFont);
}
.mobilePicker > div > img, object {
  width: 1.6em;
  padding-top: 0.2em;
}

footer {
  opacity: 0;
  transition: opacity 1s ease-out;
}

.eventButton {
	background-color: #00000070 !important;
	padding: 0% 1vw;
	margin-left: 1%;
	border-radius: 100vw;
}

.mobileButton:not(.noMobileResize) {
  width: 8vw !important;
  height: auto !important;
}

.inlineFlex {
  display: flex;
  justify-content: center;
  gap: 0.5em;
  align-items: center;
}

#homepageHeader {
  margin: 0 0 1em;
  min-height: 16em;
  align-items: flex-end;
  background: url(../images/introGrad2.webp);
  background-repeat: repeat-x;
  background-size: cover;
  background-position-y: top;
}

#homepageSearch {
  background: var(--greenGradient);
  border: var(--normalColor) solid 5px;
  padding: 0.3em;
  font-size: var(--bigFont);
  color: white;
  border-radius: 1vw;
  /*! max-height: 3em; */
  max-width: 61%;
}

.homepageTitles {
  font-size: var(--biggerFont);
  font-family: pusab;
  color: white;
  list-style-image: url("../images/wave.svg");
  list-style-position: inside;
  margin-left: 0;
}

.homepageBigButton {
  display: flex;
  padding: 0.5em 0;
  background-color: var(--normalColor);
  border-radius: 1vw;
  border: none;
  align-items: center;
}

.homepageBigButton > img { width: var(--biggerFont); }
.homepageBigButton > * { padding: 0 1em; margin: 0.2vw 0 !important; }
a {text-decoration: none;}
.IXstyle { background-image: linear-gradient(39deg, rgb(123,-40,20), #a3003c, rgb(223,60,120)); border-color: rgb(123,-40,20) !important; }
.XXIstyle { background-image: linear-gradient(39deg, rgb(123,82,-40), #a37a00, rgb(223,182,60)); border-color: rgb(123,82,-40) !important; }

.homeLoginInfo {
  background: var(--greenGradient);
  display: flex;
  align-items: center;
  gap: 0.7em;
  max-width: 66em;
  margin: 2em auto 0;
  padding: 0.3em 0.7em;
  border-radius: 0.5em;
  font-size: var(--smallFont) !important;
}

.homeLoginInfo > div {
  width: max-content;
  margin-left: auto;
}

.navPlaceholder {
  width: 90%;
  padding: 0.8vw;
  background: #0000002a;
  margin: 0.8vw auto;
  border-radius: 1vw;
}

#homepageHelp {
  width: 1em;
  margin-left: 0.4em;
}

#categoryBut {
  display: inline-flex;
  align-items: center;
  gap: 1em;
  background: var(--normalColor);
  border-radius: 2.1em;
  margin-left: 1em;
  padding: 0.2em 0.6em;
}
#categoryBut img {
  width: 1.5em;
}

/* Text color */
cy { color: rgb(243, 243, 93); }
cr { color: rgb(233, 107, 85) }
cg { color: rgb(128, 243, 128) }
cb { color: #5fe7ff ;}

#centeredPopup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 !important;
}

.levelPicker {
  background-image: var(--greenGradient);
  z-index: 5;
  display: grid;
  border-radius: 10px;
  padding-top: 0;
  padding-right: 0;
}

/*Close button*/
.levelPicker > img {
  width: 3vw;
  justify-self: end;
}

.levelPickerContainer {
	min-height: 65vh;
	background: #0000003d;
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	margin-top: 10px;
	padding: 10px;
	gap: 0;
	max-height: 65vh;
	overflow-y: auto;
	overflow-x: hidden;
}

#favBubble {
  min-width: 88%;
  justify-content: left;
}

.noSaves {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  opacity: 0.3;
}
.noSaves > img { width: 40%; }
.noSaves > p { max-width: 50%; text-align: center; }

.searchWithIcon::placeholder {
  background: url(../images/searchOpaque.svg) no-repeat;
  background-size: var(--smallFont);
  background-position-x: 1vw;
  background-position-y: center;
}

.mainGuesser {
	background: #00000040;
	justify-content: center;
	width: 100% !important;
	border-radius: 15px;
}

#loginPopup {
  position: fixed;
  z-index: 4;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 1em;
  text-align: center;
}

#loginPFP {
  border-radius: 10em;
  margin-top: -5em;
  border: black 10px solid;
 }

 #userLoggedIn {
	width: 2.2em;
	height: max-content;
	border-radius: 10em;
	box-sizing: border-box;
	border: white 3.5px solid;
	margin: auto 0;
  position: relative;
  z-index: 1;
  transition: top 0.12s cubic-bezier(.47,0,.74,.71), right 0.12s cubic-bezier(.47,0,.74,.71), border 0.3s cubic-bezier(.47,0,.74,.71);
  top: 0;
  right: 0;
  pointer-events: none;
}

.pfpPlaceholder {
  background-color: #00000063;
  border-radius: 10em;
  width: 2em;
  height: 2em;
  position: absolute;
  pointer-events: auto;
}
.pfpContainer {
  margin-right: 0.5em;
  display: flex;
  align-items: center;
  position: relative;
}

.settingsButton {
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding: 0.3em;
  width: 93%;
}
.settingsButton > img {width: var(--normalFont);}

.setLoginText { margin-top: 1em !important;}

.quote {
  font-style: italic;
  font-size: var(--normalFont);
}
.quote:before { content: '\201E'; }
.quote:after { content: '\201D'; }

.quoteContainer {
  display: flex;
  align-items: center;
  padding: 0 0.5em;
  background: #0000004d;
  margin: 0em;
  border-radius: 1em;
  gap: 0.5em;
  width: max-content;
}

#loginHelp {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  width: min(40em, 85%);
}

#settings {
  position: absolute;
  width: 55%;
  height: 90vh;
  z-index: 4;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.settingsContainer {
  margin: 0.7em;
  background: #00000052;
  display: flex;
  box-sizing: border-box;
  padding: 0.4em;
  flex-direction: column;
  gap: 0.4em;
  border-radius: 10px;
}

.settingCard {
  display: flex;
  flex-grow: 1;
  gap: 0.5em;
  padding: 0.5em;
  background: #00000045;
  box-sizing: border-box;
  align-items: center;
  border-radius: 10px;
}
.settingCard > div { flex-grow: 1; }
 

.ratingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rateButton {
  padding: 1.2em;
  position: relative;
  border-radius: 0.8em;
}
#likeBut:after {
  background: url(../images/like.svg) no-repeat;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1.8em;
  height: 1.8em;
  transform: translate(-50%, -50%) scale(0.8);
  filter: var(--likeGlow);
  background-size: 1.8em;
}
#dislikeBut:after {
  background: url(../images/dislike.svg) no-repeat;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1.8em;
  height: 1.8em;
  transform: translate(-50%, -50%) scale(0.8);
  filter: var(--dislikeGlow);
  background-size: 1.8em;
}
#dislikeBut {
  background: #cc2121;
}
#likeBut {
  background: #21cc5b;
}
.rateData {
  width: 6em;
  margin: 0 0.5em;
}
.likeBar {
  width: 100%;
  height: 40%;
  background: linear-gradient(90deg, #e84b5a, #680707);
  border-radius: 0.3em;
}
.likeText {
	display: flex;
	justify-content: space-between;
	font-size: var(--smallFont);
}

#likes {
  color: #a6f99b;
}
#dislikes {
  color: #f99b9b;
}

.likeFill {
  background: linear-gradient(90deg, #188818, #4be890);
  width: 50%;
  height: 100%;
  border-radius: inherit;
  transition: width 0.2s ease-in-out;
}

.finishButton > img {
  width: 1.5em;
}
.finishButton {
  display: flex;
  align-items: center;
  gap: 0.5em;
  background: rgba(255, 255, 255, 0.08);
  padding: 0.4em;
  border-radius: 6em;
  margin: 0.5em 0;
  width: 20em;
}

@keyframes fly {
  0% { transform: translateY(0em);}
  50% { transform: translateY(-1em);}
  100% { transform: translateY(0em);}
}

.dragonUpload {
  width: 19em;
  position: absolute;
  top: -10em;
  pointer-events: none;
  animation: fly infinite ease-in-out 6s;
  transition: top 1s;
}

.finishUpload {
  width: min(90%, 25em) !important;
  top: 60% !important;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
 }
 
.finishUpload::before {
  content: "";
  background: linear-gradient(0deg, var(--normalColor), transparent);
  position: absolute;
  width: 100%;
  height: 5em;
  top: -5em;
}